* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
}

:root {
	--royal-color: #1d4ed8;
	--royal-color-2: #6d28d9;
	--gold-color: #ffd700;
	--royal-gradient: linear-gradient(
		180deg,
		var(--royal-color),
		var(--royal-color-2)
	);
}

.header-logo {
	padding-left: 20px;
}

header .navbar {
	background: linear-gradient(
		180deg,
		rgba(15, 26, 64, 0.75),
		rgba(15, 26, 64, 0.45)
	);
	backdrop-filter: blur(6px);
}

.navbar-brand {
	font-size: 20px;
	font-weight: 600;
	color: var(--gold-color);
	padding-left: 10px;
}

.navbar-toggler {
	border: 2px solid black;
}

.navbar-collapse {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

@media (max-width: 576px) {
	.navbar-collapse {
		justify-content: end;
	}
	
	.navbar-nav {
		margin: 10px 0;
	}

}

.navbar-nav {
	display: flex;
	gap: 20px;
}

.nav-link {
	padding: 10px 20px !important;
	border-radius: 10px;
	transition: all 0.3s ease;
	background: var(--royal-gradient);
	color: #fff;
	letter-spacing: 1px;
}

.nav-link:hover {
	color: #fff;
	scale: 1.05;
}

.header-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-button-item {
	padding: 10px 20px;
	margin-left: 10px;
	border-radius: 10px;
	transition: all 0.3s ease;
	border: 2px solid #ffd700;
	background: transparent;
	color: #fff;
}

.header-button-item:hover {
	background: var(--gold-color);
	color: #000;
	scale: 1.04;
}

/* LOADER */

.loader-wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	z-index: 50;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.loader {
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
	transform: rotate(45deg);
}
.loader::before {
	content: '';
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0;
	top: -24px;
	animation: animloader 4s ease infinite;
}
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	animation: animloader2 2s ease infinite;
}

@keyframes animloader {
	0% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
			24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
	}
	12% {
		box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0),
			24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
	}
	25% {
		box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0),
			0px 48px rgba(255, 255, 255, 0);
	}
	37% {
		box-shadow: 0 24px white, 24px 24px white, 24px 48px white,
			0px 48px rgba(255, 255, 255, 0);
	}
	50% {
		box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
	}
	62% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white,
			0px 48px white;
	}
	75% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
			24px 48px white, 0px 48px white;
	}
	87% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
			24px 48px rgba(255, 255, 255, 0), 0px 48px white;
	}
	100% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
			24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
	}
}

@keyframes animloader2 {
	0% {
		transform: translate(0, 0) rotateX(0) rotateY(0);
	}
	25% {
		transform: translate(100%, 0) rotateX(0) rotateY(180deg);
	}
	50% {
		transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
	}
	75% {
		transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
	}
	100% {
		transform: translate(0, 0) rotateX(0) rotateY(360deg);
	}
}
