* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	text-decoration: none;
	list-style: none;
}

.header-logo-text {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.header-menu-item {
	display: block;
	padding: 10px 20px;
	border-radius: 10px;
	transition: all 0.3s ease;
	cursor: pointer;
	user-select: none;
	background-color: #333;
	color: #fff;
}